<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="/styles.css" />
  </head>

  <body>
    <%- include('navbar', {links: links}) %>
    <div class="title">
      <h1>All categories</h1>
      <a href="/category/create" class="addButton"> Add a Category </a>
    </div>

    <ul class="categoryCards">
      <% for (let i = 0; i < categories.length; i++) { %>
      <li class="category">
        <div class="categoryName">
          <a href="category/<%= categories[i].category%>">
            <%=categories[i].category%></a
          >
        </div>
        <div class="cardButtons">
          <a
            href="/category/<%=categories[i].id%>/update/"
            class="updateButton"
          >
            Update
          </a>
          <a
            href="/category/<%=categories[i].id%>/delete/%>"
            class="deleteButton"
          >
            Delete
          </a>
        </div>
      </li>
      <% }; %>
    </ul>
  </body>
</html>
