<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="/styles.css" />
  </head>

  <body>
    <%- include('navbar', {links: links}) %>
    <h1>All products</h1>
    <ul class="itemCards">
      <% for (let i = 0; i < items.length; i++) { %>
      <li class="item">
        <img src="<%=items[i].img%>" alt="<%=items[i].title%>" />
        <div class="cardHeader">
          <p><%=items[i].title%></p>
          <p><%=items[i].price%></p>
        </div>

        <p class="brand"><%=items[i].brand%></p>
        Quantity: <%= items[i].stock %>

        <div class="item-card <%= items[i].category %>">
          <%=items[i].category%>
        </div>
      </li>
      <% }; %>
    </ul>
  </body>
</html>
