<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="/styles.css" />
  </head>

  <body>
    <%- include('navbar', {links: links}) %>

    <div class="title">
      <h1><%=title%></h1>

      <a href="/item/create" class="addButton"> Add an Item </a>
    </div>

    <ul class="itemCards">
      <% for (let i = 0; i < items.length; i++) { %>

      <li class="itemCard">
        <div class="itemCategory"><%=items[i].category%></div>

        <div class="itemInfo">
          <img src="<%=items[i].img%>" alt="<%=items[i].title%>" />

          <p class="itemTitle"><%=items[i].title%></p>
          <p class="brand">Brand: <%=items[i].brand%></p>
          <p>Price: <%=items[i].price%>$</p>
          <p>Quantity: <%= items[i].stock %></p>

          <div class="cardButtons">
            <a href="/item/<%=items[i].id%>/update/" class="updateButton">
              Update
            </a>
            <a href="/item/<%=items[i].id%>/delete/%>" class="deleteButton">
              Delete
            </a>
          </div>
        </div>
      </li>
      <% }; %>
    </ul>
  </body>
</html>
